.DS_Store
article/.DS_Store
article/*.aux
article/*.fdb_latexmk
article/*.fls
article/*.log
article/*.synctex.gz
presentations/*.synctex.gz
article/*.bbl
article/*.blg
.vscode/settings.json
*.pyc
code/cache/reg
code/main/__pycache__/*
presentations/*.aux
presentations/*.bbl
presentations/*.blg
presentations/*.log
presentations/*.nav
presentations/*.out
presentations/*.snm
presentations/*.toc
presentations/presentation_summer_school.fdb_latexmk
presentations/presentation_summer_school.fls
*checkpoint.py
*checkpoint.ipynb
code/.ipynb_checkpoints/test_W7x-checkpoint.ipynb
err*
log*
.vscode/launch.json
article/avg_laplace_force-blx.bib
article/avg_laplace_force.run.xml
article/avg_laplace_force.zip
presentations/02_11_20.fdb_latexmk
presentations/02_11_20.fls
code/mpi/config*.ini
